<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STOP IGNORING COMMITS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <link rel="shortcut icon" type="image" href="static/images/favicon.ico"> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script>src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"</script>
    <link type="text/css" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link type="text/css" href="static/style.css">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=62de1c8a987470001990b739&product=inline-follow-buttons" async="async"></script>

</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Haile<span>.tech</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About Me</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Israel Haile</div>
                <div class="text-3">And I am a computer science major at <span>Rice University</span></div>
                <a href="#contact">Contact me</a>
            </div>
        </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="static/images/Self-portrait.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">I'm Israel and I'm a computer science student at <span>Rice University</span></div>
                    <p>My name is Israel and I am a rising sophomore at Sid Richardson College pursuing a Bachelor's degree in Computer Science, a minor in entrepreneurship, and a Certificate in Engineering Leadership with the Rice Center for Engineering Leadership (RCEL). I'm from a small city in the Dallas Area with aspirations to pursue a career in software or web development.</p>
                
                </div>
            </div>
        </div>
    </section>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Feel free to send me an email or reach out to me on <a href="https://www.linkedin.com/in/israel-haile">LinkedIn</a>.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="subtitle">Israel Haile</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="subtitle">Houston, Texas</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="subtitle">hailecxc@gmail.com</div>
                            </div>
                        </div>                 
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" placeholder="Enter your message here..." required></textarea>
                        </div>
                        <div class="button">
                            <button onclick="location.href='mailto:hailecxc@gmail.com';" method="POST">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <footer>
        <div style="width: 7%; float: left" class="sharethis-inline-follow-buttons"></div>
        <div class="copyright">
            <span>Created By <a href="#">Israel Haile</a> | <span class="far fa-copyright"></span> 2022 All rights reserved.</span>
        </div>
    </footer>

    <script type="text/javascript" src="static/js/script.js"></script>

</body>
</html>
